__pycache__/
build/
dist/
*.spec
*.pyc
.venv/
.vscode/

icon.ico

setup.ico

PDF_Styles.py

Email_Styles.py

config_keys.py

UpdateTableExist_Window.py

import_tables.py

ImportTableNew_Window.py

ImportTableExist_Window.py
