__pycache__/
build/
dist/
*.spec
*.pyc

UI_Files/
*.ui

Manuals/
*.pdf

.env

icon.ico

setup.ico

MoneyChange.py

PDF_Styles.py

Email_Styles.py

Database_Connection.py

UpdateTableExist_Window.py

import_tables.py

zz test1.py

zz test2.py

zz test3.py

zz test4.py

zz test5.py

zz test6.py

zz test7.py

zz test8.py

zz test9.py

zz test10.py




